# Python compilation files
__pycache__/
*.pyc

# Virtual Environment (Do NOT upload this, it's huge)
venv/
.venv/
env/

# Project Input/Output folders (Keep personal data local)
newimagesfortesting/
Found_Documents/
WhatsApp_Images/

# Temporary files created by the script
*.tmp
*.log
